[submodule "hooks"]
	path = packages/hooks
	url = https://github.com/alibaba/hooks.git
[submodule "packages/react-motion"]
	path = packages/react-motion
	url = git@github.com:chenglou/react-motion.git
