.App {
  text-align: center;
}

.App .header-container {
  height: 100px;
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 1;
}

.App .page-container {
  width: 90vw;
  height: calc(100vh - 100px);
  margin: 0 auto;
}

.card-wrapper {
  column-count: 3;
  column-gap: 50px;
  width: 80vw;
  padding-top: 20px;
}

.card-wrapper .ant-card {
  margin: 50px 0px;
  box-shadow: 10px 10px 20px darkgray;
  overflow: auto;
  height: 100%;
}
